<div class="container">

  <div class="row mt-3">
    <div class="col">
      <input
      type="text"
      id="search"
      class="form-control"
      placeholder="Search products..."
      [formControl]="searchControl"
    />
    </div>
    <div class="col">
      <select id="category" class="form-select" [(ngModel)]="selectedCategory" (change)="getCategoryProdutcs()">
        <option value="">Select Category</option>
        <option value="all">All Categories</option>
        <option *ngFor="let category of categories" [value]="category?.slug">{{ category?.name }}</option>
      </select>
    </div>
  </div>

    <div class="row">
      <!-- Loader (Centered Vertically & Horizontally) -->
      <div *ngIf="loading" class="loader-container">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status"></div>
          <p class="loading-text">Loading...</p> <!-- ✅ Make text visible -->
        </div>
      </div>
  
      <!-- Product List (Show when loading is false) -->
      <div class="col-sm-4" *ngFor="let product of productList">
        <div class="card mt-4">
          <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <div class="row">
              <div class="col-2">
                <button [routerLink] = "['/dashboard/editproduct', product.id]" class="btn btn-primary">Edit</button>
              </div>
              <div class="col">
                <button class="btn btn-danger" (click)="openModal(product)">Delete</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" [style]="{'display':isModalOpen() ? 'block' : 'none' }">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete "<strong>{{ selectedProduct?.title }}</strong>"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
        </div>
      </div>
    </div>
  </div>