<div class="container">
    <div class="row">
      <!-- Loader (Centered Vertically & Horizontally) -->
      <div *ngIf="loading" class="loader-container">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status"></div>
          <p class="loading-text">Loading...</p> <!-- ✅ Make text visible -->
        </div>
      </div>
  
      <!-- Product List (Show when loading is false) -->
      <div class="col-sm-4" *ngFor="let product of productList">
        <div class="card mt-4">
          <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <div class="row">
              <div class="col-2">
                <button [routerLink] = "['/dashboard/editproduct', product.id]" class="btn btn-primary">Edit</button>
              </div>
              <div class="col">
                <button class="btn btn-danger">Delete</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  